# Core functionality - changes here should be rare!
/src/app.py                   @singmyr
/src/backend/database.py      @singmyr
/src/backend/routers/auth.py  @singmyr

# The frontend will need refactored soon to be more object oriented.
/src/static/   @singmyr
